---
layout: layouts/base
---


<div class="container">
    <div class="col-12">
        <div class="row">
            <h1 class="mb-5">
                {{ title }}
            </h1>
            <div>
                {{- content|safe -}}
            </div>
        </div>
    </div>
</div>