{% set seoSiteName = 'Greythink Labs' %}
{% set seoTitle = (title + ' - ' + seoSiteName) %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ seoTitle }}
    </title>

    {# CSS #}
    {# <link rel="stylesheet" href="{{ '/build/style.css'|version }}"> #}

    {# Fonts #}
    <link rel="dns-prefetch" href="//stackpath.bootstrapcdn.com" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica%7CSource+Sans+Pro%3A300%2C400%2C700%7CLato%3A300%2C400%2C700%7CPlayfair+Display%3A900i&#038;ver=1.0.0" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css?ver=4.2.1" type="text/css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
    <link rel="stylesheet" href="/build/style.css" type="text/css" />
  </head>
  
  <body>
    <main id="main-content" tabindex="-1">
        {{- content|safe -}}
    </main>
  </body>
</html>