/* Base */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin-bottom: 0;
}
a,
a:visited {
  color: #8c1515;
}
svg {
  fill: currentColor;
}



/* Typography */
html {
  font-size: 16px;
}
body {
  font-size: 1em;
  font-family: "Source Sans Pro", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #424242;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Source Sans Pro", sans-serif;
}
h5 {
  font-size: 1.25em;
}
h4 {
  font-size: 1.563em;
}
h3 {
  font-size: 1.953em;
}
h2 {
  font-size: 2.441em;
}
h1 {
  font-size: 3.052em;
}
p,
li {
  font-size: 1em;
}



/* Intro Text */
.row-intro-text {
  margin-top: 10%;
  margin-bottom: 4rem;
}
.row-intro-text h1 {
  margin-bottom: 2rem;
  font-weight: 700;
}
.intro-text-paragraph {
  font-size: 1.563em;
}



/* Work Section */
.row-work-projects {
  margin-bottom: 4rem;
}
.row-work-projects h2 {
  margin-bottom: 2rem;
  font-weight: 700;
}
.work-project {
  margin-bottom: 2rem;
}
.work-project:last-child {
  margin-bottom: 0;
}
.work-project a {
  color: #424242;
}
.work-project h4 {
  font-weight: 700;
}
.work-project h4,
.work-project h4 a {
  color: #b20000;
}



/* Contact Section */
.row-contact {
  margin-bottom: 4rem;
}
.row-contact h4 {
  color: #696969;
}
.grey-bottom {
  background: linear-gradient(to bottom, #fff 60%, #f1f1f1 60% 100%);
}



/* Copyright */
.row-footer-copyright {
  margin-bottom: 10%;
}
